extends /layout.pug

block content
  .container.my-4: .row: .col
    
    p.fs-2.text-success Terms of Service

    p Effective Date: Jun 1, 2024
    p AJ Software ("we", "us", "our") is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our office automation tools and services ("Services"). By using our Services, you agree to the collection and use of information in accordance with this policy.
    p 1. Information We Collect
    p 1.1 Personal Information: When you register for an account or use our Services, we may collect personal information such as your name, email address, phone number, billing information, and any other information you provide. 
    p 1.2 Usage Data: We may collect information on how the Services are accessed and used. This may include your computer's Internet Protocol (IP) address, browser type, browser version, the pages of our Services that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers, and other diagnostic data. 
    p 1.3 Cookies and Tracking Technologies: We use cookies and similar tracking technologies to track the activity on our Services and hold certain information.
    p 2. How We Use Your Information
    p 2.1 To Provide and Maintain Services: To provide, maintain, and improve our Services, including to monitor the usage of our Services. 
    p 2.2 To Manage Your Account: To manage your registration as a user of the Services. The personal information you provide can give you access to different functionalities of the Services that are available to you as a registered user. 
    p 2.3 For the Performance of a Contract: The development, compliance, and undertaking of the purchase contract for the products, items, or services you have purchased or any other contract with us through the Services. 
    p 2.4 To Contact You: To contact you by email, telephone calls, SMS, or other equivalent forms of electronic communication. 
    p 2.5 To Provide Customer Support: To attend and manage your requests to us. 
    p 2.6 To Improve Our Services: To gather analysis or valuable information so that we can improve our Services. 
    p 2.7 To Protect Against Fraud: To prevent and address fraud, unauthorized activity, claims, and other liabilities.
    p 3. How We Share Your Information
    p 3.1 With Service Providers: We may share your information with service providers to monitor and analyze the use of our Services, to contact you, or to process payments. 
    p 3.2 For Business Transfers: We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company. 
    p 3.3 With Your Consent: We may disclose your personal information for any other purpose with your consent. 
    p 3.4 As Required by Law: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or other legal process.
    p 4. Data Security
    p 4.1 We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.
    p 5. Your Data Protection Rights
    p 5.1 Access: You have the right to access the personal information we hold about you and to request information about how we use your personal data. 
    p 5.2 Correction: You have the right to request that we correct any personal information you believe is inaccurate or incomplete. 
    p 5.3 Deletion: You have the right to request that we delete your personal information, under certain conditions. 
    p 5.4 Restriction of Processing: You have the right to request that we restrict the processing of your personal information, under certain conditions. 
    p 5.5 Data Portability: You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions. 
    p 5.6 Objection: You have the right to object to our processing of your personal information, under certain conditions.

