extends /layout.pug

block content
  .container.my-4: .row: .col
    
    p.fs-2.text-success Refund Policy

    p Effective Date: Jun 1, 2024
    p Thank you for choosing AJ Software for your office automation needs. We strive to provide the best possible service to our customers. This Refund Policy outlines the terms and conditions regarding refunds for purchases of our Services.
    p 1. General Conditions
    p 1.1 By purchasing our Services, you agree to this Refund Policy. 
    p 1.2 This Refund Policy applies only to the Services purchased directly from AJ Software. If you purchased our Services through a reseller or third-party vendor, please contact them directly regarding their refund policy.
    p 2. Subscription Services
    p 2.1 Free Trial: We offer a free trial period for our Services to allow you to evaluate the product before making a purchase. Refunds are not available for any Services provided during the free trial period. 
    p 2.2 Monthly Subscriptions: Monthly subscription fees are non-refundable. You may cancel your subscription at any time, but no refunds will be provided for any unused portion of the subscription period. 
    p 2.3 Annual Subscriptions: Annual subscription fees are refundable within the first 30 days of the initial purchase. After the first 30 days, refunds will not be issued for any reason. You may cancel your subscription to prevent automatic renewal, but no refunds will be provided for any unused portion of the subscription period.
    p 3. One-Time Purchases
    p 3.1 For any one-time purchase of our Services, we offer a 30-day money-back guarantee. If you are not satisfied with your purchase, you may request a refund within 30 days of the purchase date. Refund requests made after 30 days will not be accepted.
    p 4. Refund Process
    p 4.1 How to Request a Refund: To request a refund, please contact our customer support team at [contact information] with your order number and the reason for the refund request. 
    p 4.2 Processing Time: Refund requests will be processed within 7-10 business days of receiving your request. The refund will be issued to the original payment method used for the purchase. 
    p 4.3 Partial Refunds: In certain situations, only partial refunds may be granted. This will be determined on a case-by-case basis at the sole discretion of AJ Software.
    p 5. Changes to This Refund Policy
    p 5.1 AJ Software reserves the right to modify or replace this Refund Policy at any time. We will provide notice of such changes by posting the updated Refund Policy on our website and updating the "Effective Date" at the top of this policy. 
    p 5.2 Your continued use of the Services after any changes to this Refund Policy constitutes your acceptance of the new policy.
    p 6. Contact Us
    p 6.1 If you have any questions about this Refund Policy, please contact us at cs@rfv.kr.
